/* Footer.css */
.footer {
    background-color: #1f2937;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 0 1rem 1rem;
  }
  
  .footer-section {
    flex: 1;
    margin: 10px;
    min-width: 200px;
    text-align: center;
  }
  
  .footer-section h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    font-weight: 600;
    color: #9ca3af;
  }
  
  .footer-section ul {
    list-style-type: none;
    padding: 0;
  }

  .footer-section p {
    padding: 0.2rem;
  }
  
  .footer-section ul li {
    margin: 5px 0;
  }
  
  .footer-section ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-section ul li a:hover {
    text-decoration: underline;
  }
  
  .social-icons {
    color: #fff;
    margin: 0 10px;
    font-size: 1.5em;
    text-decoration: none;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .social-icons a {
    color: #fff;
    margin: 0 10px;
    font-size: 1.5em;
    text-decoration: none;
    display: flex;
  }
  
  .social-icons a:hover {
    color: #007bff;
  }
  
  .footer-bottom {
    margin-top: 20px;
    font-size: 1rem;
    color: #9ca3af;
  }

  .footer-bottom a:hover {
    color: #fff;
    text-decoration: underline;
  }
  